{% extends 'base/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans "Arizona Karen Baptist Church" %} {% endblock %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <iframe src="https://www.google.com/calendar/embed?src=arizonakarenbaptistchurch%40gmail.com&ctz=America/Phoenix" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div><!-- /.container -->
{% endblock %}
